@{
    ViewBag.Title = "Gerenciamento de dívidas";
}

<div class="row">
    <div id="divDividas" class="pull-right col-lg-3"></div>
    <div class="pull-right col-lg-9">
        <form class="form-horizontal">
            <input type="hidden" name="hdnId" />
            <div class="form-group">
                <label for="ddlCliente">Cliente</label>
                <select id="ddlCliente" name="ddlCliente" class="form-control" required>
                    <option value="">Selecione um cliente</option>
                    @foreach (var cli in ViewBag.Clientes)
                    {
                        <option value="@cli.id">@cli.name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="txtMotivo">Motivo da dívida</label>
                <input type="text" class="form-control" id="txtMotivo" name="txtMotivo" placeholder="Adicione o motivo da dívida" maxlength="4000" required>
            </div>
            <div class="form-group">
                <label for="txtValor">Valor da dívida</label>
                <input id="txtValor" name="txtValor" class="form-control money" placeholder="Adicione o valor da dívida" type="text" required>
            </div>
            <div class="form-group">
                <label for="txtData">Data da dívida</label>
                <input id="txtData" name="txtData" class="form-control" type="date" required>
            </div>
            <div class="col-lg-12" style="text-align:right;">
                @Html.ActionLink("Deletar", null, null, new { id = "btnExcluir", @class = "btn btn-danger", @style = "display:none;" })
                @Html.ActionLink("Salvar", null, null, new { id = "btnSalvar", @class = "btn btn-primary", @style = "margin-right: -15px;" })
            </div>
        </form>
    </div>
</div>
@section scripts {
<script type="text/javascript">
    var cardDiv = '<div id="{0}" class="card text-white bg-danger mb-3"><div class="card-header">{1} <br/><i><small>({2})</small></i></div></div>';
    $(document).ready(function () {
        updateDividas();
        $(document).on('click', '#btnSalvar', function (e) {
            e.preventDefault();
            var id = parseInt($('input[name="hdnId"]').val());
            var valor = $('#txtValor').val();
            valor = (valor.replace(/\./g, '')).replace(',', '.');
            var divida = {
                Id: id,
                ClienteId: $('#ddlCliente').val(),
                Motivo: $('#txtMotivo').val(),
                Valor: valor,
                DataDivida: $('#txtData').val()
            };

            $.ajax({
                type: (id > 0 ? 'PUT' : 'POST'),
                url: '/api/Divida' + (id > 0 ? '/' + id : ''),
                data: JSON.stringify(divida),
                contentType: "application/json",
                success: function (sucesso) {
                    if (sucesso) {
                        var card = $('#' + id);
                        if (card.length) {
                            card.find('.card-header').html($('#ddlCliente option[value="' + divida.ClienteId + '"]').text() + ' <br/><i><small>(' + subStr(divida.Motivo, 10) + '</small></i>');
                            $('#' + id).removeClass('bg-info').addClass('bg-danger');
                            novoForm();
                        }
                        else {
                            $.ajax({
                                type: 'GET',
                                url: '/api/Divida/' + id,
                                contentType: "application/json",
                                async: false,
                                success: function (element) {
                                    swal("Sucesso", "Registro " + (id > 0 ? 'atualizado' : 'salvo') + " com sucesso", "success");
                                    novoForm();
                                    $('#divDividas').append(String.format(cardDiv, element.Id, $('#ddlCliente option[value="' + element.ClienteId + '"]').text(), subStr(element.Motivo, 10)));
                                }
                            });
                        }
                    } else {
                        swal("Erro", "Não foi " + (id > 0 ? 'atualizar' : 'salvar') + " o registro. Tente novamente.", "error");
                    }
                }
            });
        });

        $(document).on('click', '#btnExcluir', function (e) {
            e.preventDefault();
            var id = parseInt($('input[name="hdnId"]').val());
            if (id > 0) {
                if (confirm('Tem certeza que deseja excluir essa dívida?')) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/api/Divida/' + id,
                        contentType: "application/json",
                        success: function (result) {
                            if (result) {
                                novoForm();
                                $('#' + id).fadeOut(500);
                                buildAuxCard();
                                swal("Sucesso", "Registro excluído com sucesso", "success");
                            } else {
                                swal("Erro", "Não foi excluir o registro.", "error");
                            }
                        }
                    });
                }
            }
            else {
                swal("Erro", "Nenhum registro foi selecionado.", "error");
            }
        });

        $(document).on('click', '.card:not(.not-clicable)', function () {
            var $this = $(this);
            var id = $this.attr('id');
            novoForm();
            $.ajax({
                type: 'GET',
                url: '/api/Divida/' + id,
                contentType: "application/json",
                async: false,
                success: function (d) {
                    $('input[name="hdnId"]').val(id);
                    $('#ddlCliente').val(d.ClienteId);
                    $('#txtMotivo').val(d.Motivo);
                    $('#txtValor').val(d.Valor);
                    $('#txtData').val((d.DataDivida.split('T'))[0]);
                    $('#btnExcluir').css('display', 'inline-block');
                    $('#' + id).removeClass('bg-danger').addClass('bg-info');
                }
            });
        });

        $('.money').mask('000.000.000,00', { reverse: true });
    });

    function updateDividas() {
        $.ajax({
            type: 'GET',
            url: '/api/Divida',
            contentType: "application/json",
            success: function (result) {
                var list = $('#divDividas');
                list.html('');
                if (result != null) {
                    $.each(result, function (index, element) {
                        list.append(String.format(cardDiv, element.Id, $('#ddlCliente option[value="' + element.ClienteId + '"]').text(), subStr(element.Motivo, 10)));
                    });
                }
                buildAuxCard();
            }
        });
    }

    function buildAuxCard() {
        var list = $('#divDividas');
        if (list.find('.card:visible').length == 0) {
            list.append('<div class="card text-white bg-success mb-3 not-clicable"><div class="card-header">Nenhuma dívida cadastrada.</div></div>');
        }
        else {
            list.find('.card.not - clicable').remove();
        }
    }
</script>
}