body {
    padding-bottom: 20px;
}

footer {
    text-align: right;
}

#btnLiquidar, #btnExcluir {
    margin-right: 10px;
}

.card:not(.not-clicable) {
    cursor: pointer;
}

#divDividas {
    max-height: 390px;
    overflow-y: auto;
}